<div class="fuse-vertical-navigation-wrapper">

    <!-- Header -->
    <div class="fuse-vertical-navigation-header">
        <ng-content select="[fuseVerticalNavigationHeader]"></ng-content>
    </div>

    <!-- Content -->
    <div
        class="fuse-vertical-navigation-content flex flex-col"
        fuseScrollbar
        [fuseScrollbarOptions]="{wheelPropagation: inner, suppressScrollX: true}"
        #navigationContent>

        <!-- Content header -->
        <div class="fuse-vertical-navigation-content-header" style="display: flex; justify-content: center;">
          <img width="240" style="width: 240px;" src="../../../../assets/images/logo/logo.png" >
            <!-- <ng-content select="[fuseVerticalNavigationContentHeader]"></ng-content> -->
        </div>
        <!-- <ng-container *ngFor="let item of navigation; trackBy: trackByFn">

            <ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">

                <ng-container *ngIf="item.type === 'group'">
                    <fuse-vertical-navigation-group-item
                        [item]="item"
                        [name]="name"
                        [autoCollapse]="autoCollapse"></fuse-vertical-navigation-group-item>
                </ng-container>

            </ng-container>
            

        </ng-container> -->
        <div class="flex-grow">
            <ul *ngFor="let item of navigation; trackBy: trackByFn" class="fuse-vertical-navigation-item-wrapper">
                <li (click)="MakeActiveNavGroup(item.id)" [class]="activeNavGroup == item.id?'fuse-vertical-navigation-item  active':'fuse-vertical-navigation-item '" >{{item.title}}
    
                    <mat-icon
                    class="chev-rig"
                    >keyboard_arrow_right</mat-icon>
                </li>
                @if (item.children && activeNavGroup == item.id) {
                    <li class="fuse-vertical-navigation-item-drop">
                        <ul>
                            <li [routerLink]="childLink.link" *ngFor="let childLink of item.children; trackBy: trackByFn">
                                <mat-icon
                                class="icon-size-6"
                                [svgIcon]="childLink.icon"></mat-icon>
                                 <a >{{childLink.title}}</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <!-- Content footer -->
        <div class="fuse-vertical-navigation-content-footer">
          <img width="210" style="width: 210px; opacity: 0.2; margin: auto;" src="../../../../assets/images/logo/logo.png" >
            <!-- <ng-content select="[fuseVerticalNavigationContentFooter]"></ng-content> -->
        </div>

    </div>

    <!-- Footer -->
    <div class="fuse-vertical-navigation-footer">
        <ng-content select="[fuseVerticalNavigationFooter]"></ng-content>
    </div>

</div>
