/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
html[dir="rtl"] {
  body {
    font-family: "Tajawal", sans-serif;
  }
}
html,
body {
  height: 100%;
}

.modal-dialog-content {
  max-height: 80vh;
}
::ng-deep {
  .mdc-dialog__surface,
  .mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 0 !important;
    overflow: hidden;
  }
}
.capitalized {
  text-transform: capitalize;
}
.cdk-overlay-pane:not(.full-screen-dialog) {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 0 !important;
    overflow: hidden;
    border-radius: 28px !important;
    .mdc-dialog__title {
      font-size: 20px;
      font-weight: 500;
      border-bottom: 1px solid gainsboro;
      margin-bottom: 12px;
    }
  }
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: #15508a !important;
}

.mat-mdc-table {
  thead {
    white-space: nowrap;
  }
}
.nameofContact {
  left: 21.6rem;
}
.upload-background {
  input {
    display: none;
  }
}

.cdk-overlay-pane.full-screen-dialog {
  .mat-mdc-dialog-container {
    .mdc-dialog__surface {
      padding: 0 !important;
    }
  }
}
@media (min-width: 1024px) {
  .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content{
    max-height: calc(100vh - 138px);
  }
  html:not([dir="rtl"]){
    .full-screen-dialog {
      animation: 0.3s ease-in-out dialogAnimation forwards !important;
      position: fixed !important;
      animation-play-state: running; /* Initial state is running */
      right: 0;
    }
  }
  html[dir="rtl"]{
    .full-screen-dialog {
      animation: 0.3s ease-in-out dialogAnimationrlt forwards !important;
      position: fixed !important;
      animation-play-state: running; /* Initial state is running */
    }
  }
  
  .cdk-overlay-pane.full-screen-dialog {
    .mat-mdc-dialog-container {
      .mdc-dialog__surface {
        overflow: hidden;
        border-radius: 0px !important;
        .mdc-dialog__title {
          font-size: 20px;
          font-weight: 500;
          border-bottom: 1px solid gainsboro;
          margin-bottom: 12px;
        }
      }
    }
  }
  .cdk-overlay-pane.full-screen-dialog .mat-mdc-dialog-container .mat-mdc-dialog-title + .mat-mdc-dialog-content {
    max-height: calc(100vh - 126px) !important;
  }
}

@keyframes dialogAnimation {
  0% {
    transform: translateX(100%) ;
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes dialogAnimationReverse {
  0% {
    transform: translateX(-100%) ;
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes dialogAnimationrlt {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

html[dir=rtl]{
  
  .margin-auto-rtl{
      margin-right: auto;
      margin-left: unset !important;
  }
.mat-mdc-tab-labels{
  flex-direction: row-reverse;
}
  .fuse-vertical-navigation-item-icon{
    margin-right: 0;
    margin-left: 16px;
  }
  .rtl-search-icon{
    margin-right: 0 !important;
    margin-left: 12px;
  }
  .nameofContact {
    left: unset !important; 
    right: 21.6rem;
  }
  @media (min-width: 1024px) {
    .cdk-global-overlay-wrapper{
      .full-screen-dialog {
        left: 0;
        right: auto;
        animation: 0.3s ease-in-out dialogAnimationReverse forwards !important;
      }
    }
  }
  fuse-vertical-navigation.fuse-vertical-navigation-position-left.fuse-vertical-navigation-mode-side{
    margin-right: -280px;
    margin-left: 0;
    &.fuse-vertical-navigation-opened{
      margin-right: 0;
    }
  }
  
}

.tajawal-extralight {
  font-family: "Tajawal", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.tajawal-light {
  font-family: "Tajawal", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tajawal-regular {
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tajawal-medium {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.tajawal-bold {
  font-family: "Tajawal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tajawal-extrabold {
  font-family: "Tajawal", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.tajawal-black {
  font-family: "Tajawal", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.cstm-bg-primary{
  background-color: #15508A;
}
.mat-drawer-container{
  z-index: 99 !important;
}
html[dir="rtl"]{
  fuse-drawer.fuse-drawer-position-right.fuse-drawer-mode-over{
    right: auto;
    transform: translate3d(-100%, 0, 0);
    left: 0;
    &.fuse-drawer-opened {
      transform: translate3d(0, 0, 0);
  }
  }
}

body:has(.fuse-vertical-navigation-opened){
  .full-screen-dialog{
    width: calc(100% - 280px) !important;
  }
}
.setting-drawer-wrapper{
  mat-drawer-container.mat-drawer-container {
    display: flex;
    .setting-drawer {
      position: relative;
      min-width: 322px;
  }
  .mat-drawer-content {
    width: 100%;
    margin-left: 0 !important;
}
  }
} 

.multiselect-search-input{
  border: 1px solid gainsboro !important;
  margin: 0.5rem 1rem;
  padding: 1rem !important;
  height: 50px ! IMPORTANT;
  border-radius: 5px !important;
  width: calc(100% - 2rem) !important;
}
.editalbe-div-b {
  border: 1px solid gainsboro !important;
  border-radius: 6px;
  padding: 6px 6px;

}
.hidden-option{
  display:none !important;
}
.filter-option{
  .mat-pseudo-checkbox{
    display: none;
  }
  &.mat-mdc-option[aria-disabled=true]{
    pointer-events: all !important;
    user-select: none;
      cursor: default;
  }
}
