/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.modal-dialog-content{
    max-height: 80vh;
}
::ng-deep{
    .mat-mdc-dialog-container .mdc-dialog__surface{
        padding: 0  !important;
        overflow: hidden;
    }
}
.mat-mdc-dialog-container .mdc-dialog__surface{
    padding: 0  !important;
    overflow: hidden;
}