<h2 mat-dialog-title class="text-lg text-gray-900 font-semibold">Add Records</h2>
<mat-dialog-content class="mat-typography">
  
  <mat-tab-group>
    <mat-tab label="Groups"> 
      <form action="" class="w-full mt-5">
        <div class="md:flex gap-3">
            <mat-form-field class="w-full ">
              <mat-label class="capitalized" title="group name">Group name</mat-label>
              <input type="text" matInput >
            </mat-form-field>


            <!-- <mat-form-field class="select-form w-full">
              <mat-label>Add users</mat-label>
              <mat-select [formControl]="providers"
                placeholder="search"
                name="search"
                class="filter-select"
                [(ngModel)]="selectedYears"
                [compareWith]="equals"
                multiple
                (keydown)="$event.preventDefault();"
              >
              <input
                type="text"
                class="multiSelect-search"
                [(ngModel)]="filterTextBox"
                value=""
                placeholder="Search"
                [ngModelOptions]="{standalone: true}"
              />
                <mat-option
                  *ngFor="let provider of allProviders"
                  [value]="provider.PROV"
                  [class]="provider.PROV.indexOf(filterTextBox) == -1 &&
                  filterTextBox?'hidden-option':''"
                  
                >
                {{provider.PROV}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->

            <mat-form-field class="select-form w-full" appearance="fill">
              <mat-label>Add users</mat-label>
              <mat-select multiple [formControl]="providers"
              placeholder="User"
              name="user"
              class="filter-select">
                <mat-select-trigger>
                  <!-- {{providers.value }} -->
                  {{providers.value ? providers.value : 'Select options'}}
                </mat-select-trigger>
                <mat-option *ngIf="filteredOptions.length === 0" [value]="'noResults'">
                  No options found
                </mat-option>
                <mat-option>
                  <ngx-mat-select-search [formControl]="searchCtrl" placeholderLabel="search" 
                  noEntriesFoundLabel="no matching data found"></ngx-mat-select-search>
                </mat-option>
            
                <mat-option *ngFor="let user of filteredOptions | async"
                [value]="user.PROV">
                  {{user.PROV}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
          </div>
          <div class="flex">
            <mat-form-field
                class="flex-auto">
                <mat-label>Group description</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
          <div class="flex">
            <mat-form-field
                class="flex-auto">
                <mat-label>Notes</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
      </form>

      <table class="w-full bg-transparent" mat-table [dataSource]="GroupUserDataSource">

                    <!-- Group name -->
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef>
                            User name
                        </th>
                        <td mat-cell *matCellDef="let groupUserItem">
                            <span class="whitespace-nowrap">
                                {{groupUserItem.userName}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Description -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>
                            Id
                        </th>
                        <td mat-cell *matCellDef="let groupUserItem">
                            <span class="whitespace-nowrap">
                                {{groupUserItem.id}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Description -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef>
                            Title
                        </th>
                        <td mat-cell *matCellDef="let groupUserItem">
                            <span class="whitespace-nowrap">
                                {{groupUserItem.title}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Action -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                        </th>
                        <td mat-cell *matCellDef="let groupUserItem" class="whitespace-nowrap">
                            <button mat-icon-button >
                                <mat-icon svgIcon="heroicons_mini:pencil-square" class="icon-size-4"></mat-icon>
                            </button>
                            <button mat-icon-button >
                                <mat-icon svgIcon="heroicons_mini:trash" class="icon-size-4"></mat-icon>
                            </button>
                            <button mat-icon-button>
                                <mat-icon [svgIcon]="'heroicons_mini:eye'" class="icon-size-4"></mat-icon>
                            </button>

                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
      
      

      
    
    </mat-tab>
    <mat-tab label="Permissions"> 
      <app-permission-details></app-permission-details>
    </mat-tab>
    <mat-tab label="Scripts"> 
      <app-script-details></app-script-details>
    </mat-tab>
  </mat-tab-group>

 


</mat-dialog-content>
<mat-dialog-actions align="end" class="border-gray-300/70">
  <button mat-button mat-dialog-close>Cancel</button>
  <button class="" mat-flat-button [color]="'primary'" [mat-dialog-close]="true" cdkFocusInitial><span class="ml-2 mr-1">Save</span></button>
</mat-dialog-actions>