.violations-card {
  background: #0574902c;
    color: #057590;
  .items {
    padding: 8px;
    border-radius: 8px;
    background: #057590;
    color: white;
    .count {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
  }
  .name {
    opacity: 0.87;
}
}
}
.color-1{
  color:  #283A83;
}
.color-2{
  color:  #057590;
}
.color-3{
  color:  #1691D0;
}
.color-4{
  color:  #3AC0C3;
}
.color-5{
  color:  #48AD48;
}
.color-5{
  color:  #9ECC3B;
}